<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    @apiNote 파일 매퍼
    @author  es-seungglee
 -->
<mapper namespace="com.inno.ace.model.dao.ace.admin.FileDao">

    <!-- 파일 등록 -->
    <insert id="insertFile" parameterType="fileVO">
        <selectKey keyProperty="fileId" resultType="int" order="BEFORE">
            select next value for seq_file
        </selectKey>
        insert into tb_file(
            file_id
            ,file_nm
            ,original_file_nm
            ,file_path
            ,content_type
            ,extention
            ,file_size
            ,ref_id
            ,ref_type
        )values(
            #{fileId}
            ,#{fileNm}
            ,#{originalFileNm}
            ,#{filePath}
            ,#{contentType}
            ,#{extention}
            ,#{fileSize}
            ,#{refId}
            ,#{refType}
        )
    </insert>

    <!-- 파일 리스트 조회 -->
    <select id="selectFileList" parameterType="fileVO" resultType="fileVO">
        select
            file_id             as fileId
            ,file_nm            as fileNm
            ,original_file_nm   as originalFileNm
            ,file_path          as filePath
            ,content_type       as contentType
            ,extention          as extention
            ,file_size          as fileSize
            ,ref_id             as refId
        from tb_file WITH (NOLOCK)
        where
            ref_id = #{refId}
            and ref_type= #{refType}
        order by FILE_ID ASC
    </select>

    <!-- 파일 단건 조회 -->
    <select id="selectFile" resultType="fileVO">
        select
            file_id             as fileId
            ,file_nm            as fileNm
            ,original_file_nm   as originalFileNm
            ,file_path          as filePath
            ,content_type       as contentType
            ,extention          as extention
            ,file_size          as fileSize
            ,ref_id             as refId
        from tb_file WITH (NOLOCK)
        where
            file_id = #{fileId}
    </select>

    <!-- 파일 삭제 -->
    <delete id="deleteFileByFileId">
        delete from tb_file
        where
            file_id = #{fileId}
    </delete>

    <!-- 게시글 관련 파일 전체 삭제 -->
    <delete id="deleteFileByBoardId">
        delete from tb_file
        where
            ref_id = #{refId}
            and ref_type= #{refType}
    </delete>

</mapper>