<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
    @apiNote 권한 그룹 매퍼
    @author  es-seungglee
 -->
<mapper namespace="com.inno.ace.model.dao.ace.AuthGroupDao">

    <resultMap id="authGroupMap" type="authGroupVO">
        <result property="authGroupId" column="authGroupId"/>
        <result property="authGroupNm" column="authGroupNm"/>
        <result property="useYn" column="useYn"/>
        <result property="crtDtm" column="crtDtm"/>
        <result property="chgDtm" column="chgDtm"/>
        <collection property="authUserList" column="authGroupId" resultMap="authGroupUserMap"/>
    </resultMap>

    <resultMap id="authGroupUserMap" type="authGroupUserVO">
        <result property="authGroupId" column="authGroupId"/>
        <result property="userId" column="userId"/>
        <result property="userNm" column="userNm"/>
        <result property="deptNm" column="deptNm"/>
        <result property="empStatusNm" column="empStatusNm"/>
    </resultMap>

    <select id="selectAuthGroupList" resultMap="authGroupMap">
        select
            auth_group_id as authGroupId,
            auth_group_nm as authGroupNm,
            ag.use_yn as useYn,
            user_id as userId,
            user_nm as userNm,
            dept_nm as deptNm,
            fn_code_nm('empStatus',emp_status) as empStatusNm,
            ag.crt_dtm as crtDtm,
            ag.chg_dtm as chgDtm
        from tb_auth_group ag
        left join tb_auth_group_user agu
        using(auth_group_id)
        JOIN tb_user tu
        USING(user_id)
        JOIN tb_dept td
        USING(dept_id)
    </select>

    <select id="selectDupleGroupNm" parameterType="String" resultType="int">
        select
            count(*)
        from tb_auth_group
        where
            auth_group_nm = #{authGroupNm}
    </select>

    <insert id="insertAuthGroup" parameterType="authGroupVO">
        insert into tb_auth_group(
            auth_group_nm,
            use_yn,
            crt_dtm
        )values(
            #{authGroupNm},
            #{useYn},
            now()
       )
        <selectKey keyProperty="authGroupId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateAuthGroup" parameterType="authGroupVO">
        update tb_auth_group
            set
                auth_group_nm = #{authGroupNm},
                use_yn = #{useYn},
                chg_dtm = now()
            where
                auth_group_id = #{authGroupId}
    </update>

    <delete id="deleteAuthGroup">
        delete from tb_auth_group where auth_group_id = #{authGroupId}
    </delete>

</mapper>