<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
    @apiNote 권한 그룹 매퍼
    @author  es-seungglee
 -->
<mapper namespace="com.inno.ace.model.dao.ace.AuthGroupUserDao">

    <insert id="insertAuthGroupUser" parameterType="authGroupUserVO">
        insert into tb_auth_group_user(
            auth_group_id,
            user_id,
            crt_dtm
        )values(
            #{authGroupId},
            #{userId},
            now()
       )
    </insert>

    <delete id="deleteAuthGroupUser">
        delete from tb_auth_group_user where auth_group_id = #{authGroupId}
    </delete>

</mapper>