<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
    @apiNote 권한 그룹 매퍼
    @author  es-seungglee
 -->
<mapper namespace="com.inno.ace.model.dao.ace.MenuAuthDao">

    <insert id="insertMenuAuth" parameterType="menuAuthVO">
        insert into tb_menu_auth(
            menu_id,
            auth_group_id,
            auth_type,
            crt_dtm
        )values(
            #{menuId},
            #{authGroupId},
            #{authType},
            now()
        )
        <selectKey keyProperty="menuAuthId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateMenuAuth" parameterType="menuAuthVO">
        update tb_menu_auth
            set
                auth_type = #{authType},
                chg_dtm = now()
            where
                menu_auth_id = #{menuAuthId}

    </update>
</mapper>