<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inno.ace.model.dao.ace.flexibleWork.WorkUserDao">

    <insert id="insertWorkUser" parameterType="workUserVO">
        insert into tb_work_user(
            user_id,
            work_group_id,
            crt_dtm
        )values(
            #{userId},
            #{workGroupId},
            now()
       )
    </insert>

    <!--근무 그룹 삭제 -->
    <delete id="deleteWorkUser">
        delete from tb_work_user where work_user_id = #{workUserId}
    </delete>

    <!--근무 그룹 삭제 -->
    <delete id="deleteWorkUserByWorkGroupId">
        delete from tb_work_user where work_group_id = #{workGroupId}
    </delete>

</mapper>